/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports

@import '~@fortawesome/fontawesome-free/css/all.css';
 */
@import '~framework7/css/framework7.bundle.css';
@import '~framework7-icons/css/framework7-icons.css';
@import '~codemirror/lib/codemirror.css';
@import '~codemirror/theme/material.css';

body {
  margin: 0;
  background: transparent !important;
}

.CodeMirror {
  height: 100%;
}
